<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a routerLink="/">
    <img alt="Logo"
      src="../assets/logo.svg" />
  </a>
  <ul>
    <li>
      <a routerLink="/home">Questions</a>
    </li>
    <li>
      <a routerLink="/tags">Tags</a>
    </li>
    <li>
      <a routerLink="/users">Users</a>
    </li>
  </ul>
    <div class="spacer"></div>
    <div class="links">
      <a routerLink="/profile" class="register">Profile</a>
      <a routerLink="/login" class="login">Log in</a>
      <a routerLink="/register" class="register">register</a>
      <a (click)="logout()" class="register">Logout</a>
    </div>
</div>

<div class="content" style="width: 100%; display: block;" role="main">
  <router-outlet></router-outlet>
</div>
